In [1]:
import mysql.connector
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'Belajardatascience2021!',
    database = 'retrowheels'
)

In [4]:
mycursor = mydb.cursor()

query1 = 'SELECT COUNT(COUNTRY) AS Customers,COUNT(DISTINCT COUNTRY) AS Countries, COUNT(DISTINCT CITY) AS Cities From Customers;'

query2 = 'mysql> SELECT (SELECT COUNT(employeeNumber) FROM employees) AS Employees, (SELECT COUNT(officeCode) FROM offices) AS Offices, (SELECT COUNT(DISTINCT country) FROM offices) AS Country, (SELECT COUNT(DISTINCT productName) FROM products) AS Products, (SELECT SUM(quantityInStock) FROM products) AS StockProducts, (SELECT COUNT(DISTINCT productVendor) FROM products) AS Vendors;'

query3 = 'mysql> select distinct productline, min(buyPrice) as minPrice, max(buyPrice) as MaxPrice from products group by productLine;'

query4 = 'mysql> select customerName, city, country, sum(amount) as total from customers, payments where customers.customernumber = payments.customernumber group by customers.customernumber order by total desc limit 10;'

query5 = ''

mycursor.execute(query1,query2,query3)

result = mycursor.fetchall()

df = pd.DataFrame(result, columns = mycursor.column_names)